<h1><%=@restaurant.name%></h1>

<h4>Restaurant located in <a href="/cities/<%=@restaurant.city.id%>"><%=@restaurant.city.name %></a></h4><br>
<h4> Cuisine: <a href="/cuisines/<%=@restaurant.cuisine.id%>"<%=@restaurant.cuisine.name %></a></h4>
<h2></h2>

<h3> Reviews </h3></br>

<% @restaurant.reviews.each do |review| %>
  <a href =/reviews/<%=review.id%>><%= review.title %> - by <%= review.user.username%></a>
  <% end %>

  

<br><br>
<h2></h2>



<h4><a href="/restaurants/<%=@restaurant.id%>/edit">Edit Restaurant </a> - <a href="/restaurants/<%=@restaurant.id%>/delete_confirm">Delete Restaurant</a></h4>
<br>
<h4><a href="/restaurants">Back to Restaurants</a> - <a href="/home">Back to Home</a></h4>