<h1><%=@city.name%></h1>
<br>
<h2></h2>

<h3> Restaurants</h3>
  <% if @city.restaurants == [] %>
    No restuarants have been added.
  <% else %>
      <% @city.restaurants.each do |restaurant| %>
        <a href =/restaurants/<%=restaurant.id%>><%= restaurant.name %></a>
        <% end %>
  <% end %>
  

<br><br>
<h2></h2>

<h4><a href="/cities/<%=@city.id%>/edit">Edit City </a> - <a href="/cities/<%=@city.id%>/delete_confirm">Delete City</a></h4>
<h4><a href="/cities">Back to Cities</a> - <a href="/home">Back to Home</a></h4>