
<h1>"<%=@review.title%>"</h1>
<h4>Review of <a href="/restaurants/<%=@review.restaurant.id%>"><%=@review.restaurant.name%></a></h4><br>

<h2></h2>
<p>posted by <%= @review.user.username%></p><br>
<p><%=@review.description %></p><br><br>
<h4><a href="/reviews/<%=@review.id%>/edit">Edit Review </a> - <a href="/reviews/<%=@review.id%>/delete_confirm">Delete Review</a></h4><br>

<h2></h2>

<h4><a href="/reviews">Back to Reviews</a> - <a href="/home">Back to Home</a></p></h4>




